:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196F3;
  --background-color: #ffffff;
  --primiry-section-color: #2F303A;
  --secondary-section-color: #F5F4FA;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation,
.header__container,
.contact,
.works__wrap--shifted,
.mobile-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subject {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .subject {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .subject {
    margin-bottom: 50px;
  }
}

.logo {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 87px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: inherit;
  font-family: var(--secondary-font-family);
  color: var(--title-text-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: inherit;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo--blue {
  color: var(--accent-text-color);
}
.logo--white {
  color: var(--background-color);
}

.header__container {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-open-icon,
.menu-close-icon {
  fill: #000;
}

.menu-close-icon:focus,
.menu-open-icon:focus,
.menu-close-icon:hover,
.menu-open-icon:hover {
  fill: var(--accent-text-color);
}

.mobile-conteiner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile-conteiner {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 40px 48px;
  background-color: #fff;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  color: #fff;
}

.mobile-contact {
  position: absolute;
  bottom: 134px;
}

.mobile-contact__list {
  margin-bottom: 32px;
}

.mobile-navigation__link {
  display: block;
  padding-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-navigation__link:focus {
  color: var(--accent-text-color);
}

.mobile-contact__link--blue {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-contact__link--gray {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.mobile-socials__item {
  padding: 0 10px;
}

.mobile-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 281px;
  gap: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.contact {
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contact__icon--mail {
  width: 14px;
  height: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon--phone {
  width: 10px;
  height: 14px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    width: 16px;
    height: 12px;
  }
}
.contact__link:hover > .contact__icon--mail, .contact__link:focus > .contact__icon--mail, .contact__link:hover > .contact__icon--phone, .contact__link:focus > .contact__icon--phone {
  fill: var(--accent-text-color);
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .contact__list:first-child {
    margin-right: 50px;
  }
  .contact__link {
    font-size: inherit;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.link.current {
  color: var(--accent-text-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  right: auto;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 2px;
}

.btn {
  cursor: pointer;
  border: 0;
  background: #fff;
}

.hero {
  background-color: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 480px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/Hero-img-1x-mob.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/Hero-img-1x-mob.jpg");
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/background/Hero-img-2x-mob.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/Hero-img-1x-tab.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/Hero-img-1x-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/background/Hero-img-2x-tab.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/Hero-img-1x-desk.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/Hero-img-1x-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/background/Hero-img-2x-desk.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__container {
  text-align: center;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  color: var(--background-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}
.hero__button {
  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: var(--primary-font-family);
  border-radius: 4px;
  padding: 10px 32px;
  background: #2196F3;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.advantage__wrap {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-section-color);
}
@media screen and (min-width: 768px) {
  .advantage__wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__wrap {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .advantege__item {
    width: 354px;
  }
}

.advantage__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}

.advantage__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.works {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}
.works__wrap {
  text-align: center;
  padding-top: 0;
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.works__text {
  font-weight: 700;
  color: var(--background-color);
  text-transform: uppercase;
}
.works__wrap--shifted {
  width: 370px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  top: -70px;
}

.teams {
  background-color: var(--secondary-section-color);
}
.teams__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.teams__jobTitle {
  line-height: 1.19;
  font-size: 16px;
  margin-bottom: 16px;
}
.teams__wrap {
  text-align: center;
}
.teams__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .teams__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.teams__photo {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.teams__item {
  margin-bottom: 30px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .teams__item {
    margin-bottom: 0;
  }
}

.socials {
  padding: 0 122px 24px 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .socials {
    padding: 0 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    padding: 0 32px 30px 32px;
  }
}
.socials__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__link:hover > .socials__icon, .socials__link:focus > .socials__icon {
  fill: #fff;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-text-color);
}
.socials--gap {
  gap: 10px;
  margin: 0;
}
.socials__link--gray {
  background-color: rgba(255, 255, 255, 0.1);
}
.socials__icon--white {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn-filter {
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter:hover, .btn-filter:focus {
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color);
}

.filtered-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.subject-portf {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.text-portf {
  line-height: 1.88;
  font-size: 16px;
  color: var(--primary-text-color);
}

.portf-wrap {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.thumb {
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.overlay-text {
  line-height: 1.56em;
  color: #FFFFFF;
  font-size: 18px;
}

.portf-filtered-link {
  text-decoration: none;
  font-style: normal;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-filtered-link:hover, .portf-filtered-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-filtered-link:hover .overlay, .portf-filtered-link:focus .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.close-button:focus svg, .close-button:hover svg {
  fill: var(--accent-text-color);
}

.icon-modal {
  fill: #000000;
  position: absolute;
  left: 15px;
  top: 14px;
}

.modal b {
  text-align: center;
  color: var(--title-text-color);
  font-size: 20px;
  letter-spacing: 0.03em;
}

.form {
  padding-top: 12px;
}

.modal-label {
  font-size: 12px;
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.btn-modal {
  color: #fff;
  background-color: var(--accent-text-color);
  padding: 10px 52px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
}

.input-wrap {
  position: relative;
  margin: 4px 0 10px 0;
}
.input-wrap:focus .input, .input-wrap:hover .input {
  border: 1px solid #2196F3;
}
.input-wrap:focus .input + svg, .input-wrap:hover .input + svg {
  fill: #2196F3;
}

.feedback-wrap {
  margin: 4px 0 20px 0;
}

.check-conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-wrap:focus-within .input,
.feedback-wrap:hover .input {
  border: 1px solid #2196F3;
}

.checbox-wrap {
  position: absolute;
  top: 0;
  left: 16px;
  border: 2px solid black;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  pointer-events: none;
}

.check-conteiner .modal-label {
  font-size: 14px;
  padding-left: 24px;
}

.icon-check {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checbox:checked + div {
  background: var(--accent-text-color);
  border: 2px solid var(--accent-text-color);
}

.modal-label a {
  color: var(--accent-text-color);
}

.input-wrap .icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */