.advantage__wrap {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablet {
        width: 354px;
    }

    @include desk {
        width: 270px;
    }

    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-section-color);
}

.advantege__item {
    margin-bottom: 30px;

    @include tablet {
        width: 354px;
        margin-bottom: 0;
    }
}

.advanteges__icon {
    width: 70px;
    height: 70px;
}

.advantage__title {
    text-align: center;
    @include font(14px, 700, 1.14, 0.03em);
    color: var(--title-text-color);
    margin-bottom: 10px;

    @include tablet {
        text-align: left;
    }
}

.advantage__text {
    line-height: 1.7;
}

.advantage__list {


    @include tablet {
        display: flex;
        gap: 30px;
        width: 738px;
        flex-wrap: wrap;

    }

    @include desk {
        flex-wrap: nowrap;
    }
}