.logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;



    @include desk {
        margin-right: 93px;
        @include font(26px, 700, 1.19, inherit);
        padding-top: 24px;
        padding-bottom: 25px;
    }

    @include font(24px, 700, 1.16, inherit);
    font-family: var(--secondary-font-family);
    color: var(--title-text-color);
    text-decoration: none;

    &--blue {
        color: var(--accent-text-color);
    }

    &--white {
        color: var(--background-color);
    }
}