.logo {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 93px;
    @include font(24px, 700, 1.16, inherit);
    font-family: var(--secondary-font-family);
    color: var(--title-text-color);
    text-decoration: none;

    &--blue {
        color: var(--accent-text-color);
    }
    
    &--white {
        color: var(--background-color);
    }
}
//  @include font(26px, 700, 1.19, inherit);
// padding-top: 24px;
// padding-bottom: 25px;