:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --background-color: #ffffff;
    --primiry-section-color: #2F303A;
    --secondary-section-color: #F5F4FA;
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

@mixin font ($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin phone-max {
    @media screen and (min-width:480px) and (max-width:767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin tablet-max {
    @media screen and (min-width:768px) and (max-width:1199px) {
        @content;
    }
}

@mixin desk {
    @media screen and (min-width:1200px) {
        @content;
    }
}

@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}